name: master build
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use node.js version 10.x
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 10.x
      - name: Install packages
        run: yarn
      # Uncomment this once the tests are functional
      # - name: Run unit tests
      #    run: yarn run test
      - name: Build packages
        run: yarn run build
